.comment-info {
border-top:solid thick darkgreen;
}

.isso-thread {
border-top:solid thin darkgreen;
}

.isso-comment {
border-top:solid thin darkgreen;
margin:2em 0 0 0;
}

.isso-follow-up {
margin:0 0 0.5em 0;
padding-left:3em;
}

.isso-comment-footer a {
margin:0 0.5em 0 0;
}

.isso-comment-header .author {
font-weight:bold;
}

.auth-section {
margin:0.2em;
}

.auth-section input, .textarea {
-webkit-appearance:none;
font-family:Charter, serif;
border-radius:0.2em;
border:solid thin darkgreen;
font-size:1.2rem;
} 

.input-wrapper input {
background-color:#00ff000f;
padding:0.2em;
}

.textarea {
min-height:8em;
background-color:#00ff000f;
margin:0.2em;
padding:0.2em;
width:96%;
}

.post-action input {
color:white;
background-color:darkgreen;
border:0;
padding:0.5em;
}
